
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 b-r">
                        <h3 class="m-t-none m-b">找回密码</h3>


                        <form role="form"  id="signupForm3">
                            <label>图片验证码：</label>
                            <div class="form-group form-inline">
                                <input type="text" placeholder="请输入图片验证码" class="form-control" style="width:200px;" name="captcha">
                                <img src="{:captcha_src()}" alt="captcha" style="width:130px;" onclick="this.src='captcha.html?'+Math.random() ">
                            </div>
                            <label>邮箱：</label>
                            <div class="form-group form-inline">
                                <input type="text" placeholder="请输入邮箱地址" class="form-control" style="width:200px;" name="email">
                                <button data-toggle="button" class="btn btn-primary btn-outline active" type="button" aria-pressed="true" onclick="doSendMsg()" id="btnGetVerifyCode">获取验证码</button>
                            </div>
                            <div class="form-group">
                                <label>验证码：</label>
                                <input type="text" placeholder="请输入邮箱验证码" class="form-control" name="code">
                            </div>
                            <div class="form-group">
                                <label>新密码：</label>
                                <input type="password" placeholder="请输入密码" class="form-control" name="password">
                            </div>
                            <div>
                                <button class="btn btn-primary col-md-offset-4 col-lg-offset-4col-xl-offset-4" type="submit" style="width:180px"><strong>找回密码</strong>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
		var wait = 60;
           function time(o) {
               if (wait == 0) {
                   $(o).attr("disabled", false);
                   $(o).html("获取验证码");
                   wait = 60;
               } else {
                   $(o).attr("disabled", true);
                   o.html(wait + "秒后重新发送");
                   wait--;
                   setTimeout(function () {time(o);},1000);
               }
           }
            function doSendMsg(){
                email=$("input[name='email']").val();
				captcha=$("input[name='captcha']").val();
				var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
				if(!reg.test(email)){alert("邮箱输入错误");return;}
				if(captcha.length!=4){alert("图片验证码长度不正确");return;}
                $.ajax({
                    type:'post',
                    url:'/admin/index/doSendMailMsg1.html',
                    data:{'email':email,'captcha':captcha},
                    cache:false,
                    dataType:'json',
                    success:function(data){
                       //请求成功
							if(data.code<0){
								alert(data.msg);
								$("#captchaImg").attr("src",'captcha.html?'+Math.random());
								
							}else{
								var bu = $('#btnGetVerifyCode');
								time(bu);
								alert("验证码发送成功");
							}
                    },
                    error : function() {
                        // view("异常！");
                        alert("网络错误！");
                    }
                });
            }
        </script>